SOWWWL_PUBLIC_ORIGIN=https://sowwwl.com
SOWWWL_AZA_MAX_UPLOAD_BYTES=2147483648
# Décommente et ajuste quand le sous-domaine direct pointe vers le VPS :
# SOWWWL_AZA_DIRECT_ORIGIN=https://upload.sowwwl.com
