# OVH / Apache
Options -Indexes

# Passer en prod (si autorisé)
# SetEnv APP_ENV prod

# Sécurité basique
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "DENY"
  Header set Referrer-Policy "no-referrer"
</IfModule>
