.app {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  overflow: hidden;
  touch-action: none;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.negative {
  filter: invert(1);
}
