ACME_EMAIL=ops@sowwwl.cloud
AZA_API_TOKEN=CHANGE_ME_LAB_API_TOKEN
DB_NAME=o_lab
DB_USER=user
DB_PASS=CHANGE_ME_LAB_DB_PASSWORD
DB_ROOT_PASSWORD=CHANGE_ME_LAB_ROOT_DB_PASSWORD
SOWWWL_PUBLIC_ORIGIN=https://lab.sowwwl.cloud
SOWWWL_AZA_DIRECT_ORIGIN=https://lab.sowwwl.cloud
SOWWWL_POCKET_PUBLIC_ORIGIN=https://pocket.lab.sowwwl.cloud
SOWWWL_ADMIN_PIN=CHANGE_ME_LAB_ADMIN_PIN
SOWWWL_ADMIN_EMAIL=pablo@sowwwl.com
SOWWWL_0WLSLW0_CHAT_URL=
SOWWWL_0WLSLW0_AGENT_ENDPOINT=
SOWWWL_0WLSLW0_AGENT_KEY=
SOWWWL_0WLSLW0_AGENT_AUTH_HEADER=Authorization
SOWWWL_0WLSLW0_AGENT_AUTH_SCHEME=Bearer
SOWWWL_0WLSLW0_AGENT_MODE=chat
SOWWWL_0WLSLW0_AGENT_INPUT_FIELD=message
SOWWWL_0WLSLW0_AGENT_EXTRA_HEADERS_JSON=
SOWWWL_0WLSLW0_AGENT_TIMEOUT_SECONDS=18

# Magic link login (allowlisted emails)
SOWWWL_MAGIC_LINK_EMAILS=pablo@sowwwl.com,0wlslw0@protonmail.com
SOWWWL_MAGIC_LINK_SECRET=CHANGE_ME_LAB_MAGIC_LINK_SECRET
SOWWWL_MAGIC_LINK_DELIVERY=log
SOWWWL_SIGNAL_IDENTITY_DELIVERY=log
SOWWWL_PI_TOKEN=CHANGE_ME_LAB_PI_TOKEN
SOWWWL_MAGIC_LINK_FROM=no-reply@sowwwl.cloud
SOWWWL_MAGIC_LINK_FROM_NAME=sowwwl-lab

# SMTP is optional for the lab
SOWWWL_SMTP_HOST=
SOWWWL_SMTP_PORT=587
SOWWWL_SMTP_USERNAME=
SOWWWL_SMTP_PASSWORD=
SOWWWL_SMTP_ENCRYPTION=tls
