{
	email {$ACME_EMAIL:ops@sowwwl.cloud}
}

(common_headers) {
	encode zstd gzip
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}
}

(permissions_surface) {
	header {
		Permissions-Policy "accelerometer=(self), ambient-light-sensor=(self), camera=(self), geolocation=(), gyroscope=(self), magnetometer=(self), microphone=(self), screen-wake-lock=(self)"
	}
}

lab.sowwwl.cloud {
	import common_headers
	import permissions_surface
	reverse_proxy app:80
}

www.lab.sowwwl.cloud {
	redir https://lab.sowwwl.cloud{uri} 308
}

api.lab.sowwwl.cloud {
	encode zstd gzip
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Headers "Authorization, Content-Type"
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		-Server
	}
	@preflight method OPTIONS
	respond @preflight 204
	reverse_proxy api:80
}

pocket.lab.sowwwl.cloud {
	import common_headers
	import permissions_surface
	reverse_proxy pocket:80
}
