Options -Indexes

<IfModule mod_authz_core.c>
  <FilesMatch "\.(php|phtml|phar|php\d)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "\.(php|phtml|phar|php\d)$">
    Deny from all
  </FilesMatch>
</IfModule>
